@using Cookbook.Core.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = @Model.Name;
}
@model RecipeViewModel

<div class="content-wrapper" style="min-height: 1604.71px;">
    <section class="content">
        <br />
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Model.Name</h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estimated budget</span>
                                        <span class="info-box-number text-center text-muted mb-0">2300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total amount spent</span>
                                        <span class="info-box-number text-center text-muted mb-0">2000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estimated project duration</span>
                                        <span class="info-box-number text-center text-muted mb-0">20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>Comments (@Model.Comments.Count)</h4>
                                <div class="post">
                                    <form asp-controller="Recipes" asp-action="AddComment" method="post">
                                        <input type="hidden" asp-for="NewComment.UserId" value="@Model.CurrentUser.Id" />
                                        <input type="hidden" asp-for="NewComment.RecipeId" value="@Model.Id" />
                                        <textarea asp-for="NewComment.Text" placeholder="Enter comment here" class="form-control" rows="3" maxlength="300" style="resize: none; height: 10  0px" aria-required="true"></textarea>
                                        <br />
                                        <div>
                                            <button type="submit" class="btn btn-primary">Add comment</button>
                                        </div>
                                    </form>
                                </div>
                                @foreach (var comment in Model.Comments)
                                {
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="data:image;base64,@System.Convert.ToBase64String(comment.User.Picture)" alt="user image">
                                            @if (Model.CurrentUser.Id == comment.User.Id)
                                            {
                                                <a asp-controller="recipes" asp-action="deleteComment" asp-route-recipeId="@Model.Id" asp-route-commentId="@comment.Id" class="btn" style="float: right"><i class="fas fa-times"></i></a>
                                            }
                                            <span class="username">
                                                <a asp-controller="User" asp-action="Show" asp-route-userId="@comment.User.Id">@comment.User.UserName</a>
                                            </span>
                                            <span class="description">Posted on @comment.Date</span>
                                        </div>

                                        <p>
                                            @comment.Text
                                        </p>

                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> AdminLTE v3</h3>
                        <p class="text-muted">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">
                                Client Company
                                <b class="d-block">Deveint Inc</b>
                            </p>
                            <p class="text-sm">
                                Project Leader
                                <b class="d-block">Tony Chicken</b>
                            </p>
                        </div>
                        <h5 class="mt-5 text-muted">Project files</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                            </li>
                        </ul>
                        <div class="text-center mt-5 mb-3">
                            <a href="#" class="btn btn-sm btn-primary">Add files</a>
                            <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>